<!DOCTYPE html>
<html>
    <head>
	<title> Clickable Tables </title>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
	<div id="map" style="width:800px;height:400px">Clickable Map</div>
	<br/>
	<form action="/clear/" method="post">{% csrf_token %}
	    <input style="color:red" type=submit value="clear">
	</form>
	<br/>
	<script>
	 function initMap() {
	     var map = new google.maps.Map(document.getElementById('map'), {
		 center: {lat: 41.850033, lng: -87.6500523},
		 zoom: 11
	     });
	     
	     var layer = new google.maps.FusionTablesLayer({
		 query: {
		     select: '\'Geocodable address\'',
		     from: '{{ fusion_table }}'
		 }
	     });
	     layer.setMap(map);
	     google.maps.event.addListener(layer, 'click', function(e) {
		 // Change the content of the InfoWindow
		 e.infoWindowHtml = e.row['address'].value + "<br>";
	     });
	     google.maps.event.addListener(map, 'click', function(event) {
		 console.log(event);
		 $.post('/click/', event.latLng.toJSON(), function(data) {
		     if(data.errors)
			 alert(data.errors)
		     else {
			 var infowindow = new google.maps.InfoWindow({
			     content: data.address
			 });

			 var marker = new google.maps.Marker({
			     position: event.latLng,
			     animation: google.maps.Animation.DROP,
			     map: map
			 });

			 marker.addListener('click', function() {
			     infowindow.open(map, marker);
			 });

			 $('#addresses').prepend(
			     '<div id="' + data.place_id+'">'+
			     data.address+'</div>');
			 }
		 });
	     });
	 }
	</script>
	<script src="https://maps.googleapis.com/maps/api/js?callback=initMap&key={{ api_key }}"></script>
	<div id="addresses">
	    {% for address in address_list%}
	    <div id="{{ address.place_id }}"> {{ address.address }} </div>
	    {% endfor %}
	</div>
	<script>
	 var csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
	 
	 function csrfSafeMethod(method) {
	     // these HTTP methods do not require CSRF protection
	     return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
	 }
	 $.ajaxSetup({
	     beforeSend: function(xhr, settings) {
		 if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
		     xhr.setRequestHeader("X-CSRFToken", csrftoken);
		 }
             }
	 });
	</script>
    </body>
</html>
